<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bulma.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cloudinary-jquery@2.11.3/cloudinary-jquery.min.js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <script type="text/javascript">
      $.cloudinary.config({
        cloud_name: "<%= process.env.CLOUDINARY_CLOUD_NAME %>",
        secure: true,
      });
    </script>

    <section class="section">
      <div class="maincolumns columns is-desktop is-vcentered">
        <div
          class="column is-10 is-offset-1 notification is-info is-light box container"
        >
          <div class="title">Profile</div>
          <% let i=0; %> <% if (locals.thisUser) { %>
          <h1><%= allUsers[i].first_name %></h1>
          <div class="table-container">
            <table class="table is-bordered is-hoverable is-striped is-narrow">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <% for(i=0; i < 1; i++) { %>
              <tr>
                <td><%= allUsers[i].name %></td>
                <% if (allUsers[i].image_id) { %>
                <td>
                  <script type="text/javascript">
                    document.write(
                      $.cloudinary
                        .imageTag("<%- allUsers[i].image_id %>", {
                          height: 100,
                          width: 100,
                          crop: "fit",
                        })
                        .toHtml()
                    );
                  </script>
                  <% } else { %>
                </td>

                <td colspan="2">
                  <form
                    action="setUserPic"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div class="field is-horizontal">
                      <input
                        type="hidden"
                        name="user_id"
                        value="<%= allUsers[i].user_id %>"
                      />
                      <input
                        type="hidden"
                        name="user_id"
                        value="<%= allUsers[i].user_id %>"
                      />
                      <div
                        id="picture-upload"
                        class="file is-info has-name is-small is-right"
                      >
                        <label class="file-label">
                          <input class="file-input" type="file" name="image" />
                          <span class="file-cta">
                            <span class="file-icon"
                              ><i class="fas fa-upload"></i
                            ></span>
                            <span class="file-label">Choose a file…</span>
                          </span>
                          <span class="file-name">No File</span>
                        </label>
                      </div>
                      &nbsp;
                      <div class="field">
                        <button class="button is-link is-small">
                          <span>Upload</span>
                          <span class="icon is-small">
                            <i class="fas fa-image"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </form>
                  <% } %>
                </td>
                <% if (allUsers[i].image_id) { %>
                <td>
                  <a
                    href="/deleteUserImage?id=<%= allUsers[i].user_id %>&user=<%= allUsers[i].user_id %>"
                  >
                    <span class="icon is-small">
                      <i class="fas fa-eraser"></i> </span
                  ></a>
                </td>
                <% } %>
              </tr>
              <% } %>
            </table>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <script>
      const fileInput = document.querySelector(
        "#picture-upload input[type=file]"
      );
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector("#picture-upload .file-name");
          fileName.textContent = fileInput.files[0].name;
        }
      };
    </script>
  </body>
</html>
